.date-picker {
  margin: 100px 0;


  &__label {
    display: block;
    text-align: left;
    color: #64676B;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__input {
    width: 140px;
    height: 24px;
    padding: 13px 10px;
    border: 2px solid #CBCBCB;
    border-radius: 3px;
    color: #1A263B;
    font-size: 20px;

    &._invalid {
      border-color: #F03353;
    }

    &._disabled {
      border: unset;
      background-color: #F2F2F8;
      color: #94999F;
    }

    &:focus {
      border-color: #496CDC;
      outline: none;
    }

    &-icon {
      display: block;
      position: absolute;
      top: 41px;
      right: 13px;
      width: 20px;
      height: 20px;
      background: url("../../calendar.svg") no-repeat;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #DBDBDF;
    margin-bottom: 20px;
    padding: 12px 20px 20px 20px;


    &-title {
      font-size: 18px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    &-arrow {
      border: solid #212B3B;
      border-width: 0 2px 2px 0;
      display: inline-block;
      height: 15px;
      width: 10px;
      background: transparent;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &._up {
        transform: rotate(-135deg);
        align-self: flex-end;
      }

      &._down {
        transform: rotate(45deg);
        margin-right: 20px;
        align-self: flex-start;
      }
    }
  }

  &__today-button {
    padding-bottom: 20px;
    font-size: 18px;
    color: #395BD8;
  }
}