.date-picker {
  margin: 100px 0;


  &__label {
    display: block;
    text-align: left;
    color: #64676B;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__input {
    width: 140px;
    height: 24px;
    padding: 13px 10px;
    border: 2px solid #CBCBCB;
    border-radius: 3px;
    color: #1A263B;
    font-size: 20px;

    &._error {
      border-color: #F03353;
    }

    &._disabled {
      border: unset;
      background-color: #F2F2F8;
      color: #94999F;
    }

    &:focus {
      border-color: #496CDC;
      outline: none;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -20px;
      width: 20px;
      height: 20px;
      background: url("./calendar.svg") no-repeat;
    }
  }

}